<p>create works!</p>

<form [formGroup]="bookForm"
(ngSubmit)="submitBook()">

    <div class="form-control">
        <label for="title">book title</label>
        <input 
        type="text" 
        id="title"
        formControlName="title">
    </div>
    <div class="form-control">
        <label for="description">book description</label>
        <input 
        type="text" 
        id="description"
        formControlName="description">
        <textarea></textarea>
    </div>
    <div class="form-control">
        <label for="price">book tprice</label>
        <input 
        type="text" 
        id="price"
        formControlName="price">
    </div>
    <button [disabled]="!bookForm.valid"
    type="submit">create book</button>

</form>