<nav>
  <ul>
    <li><a routerLink="/homepage">homepage</a></li>
    <li><a routerLink="/contact">contact</a></li>
    <li><a routerLink="/about">about</a></li>
    <li><a routerLink="/books">books</a></li>
    <li><a routerLink="/pizza">pizzas</a></li>
  </ul>
</nav>

<hr>




<h2>pages avec gardes</h2>

<nav>
  <ul>
    <li><a routerLink="/page-yes">page yes</a></li>
    <li><a routerLink="/page-no">page no</a></li>
    <li><a routerLink="/page-maybe">page maybe</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>